/* Slick Image Design   */
/* .slick-slide img {
  display: block; */
/* height: 200px !important; */
/* } */

.slick-next {
  /* display: none !important; */
  /* background-color: black !important; */
  cursor: default !important;
}
.slick-prev {
  display: none !important;
  cursor: default !important;
  /* background-color: black !important */
}

/* .slick-arrow {
  background-color: #a9a9a9 !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 100% !important;
  z-index: 1 !important;
  padding-top: 1px !important;
  margin: 0 50px !important;
} */

/* Margin Between Items */
/* the slides */
/* .slick-slide {
    margin: 0 10px;
}

/* the parent */
/* .slick-list {
    margin: 0 -10px;
} */
